@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.home-neon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Space Mono', monospace;
}

.home-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 2rem;
  width: 100%;
  max-width: 480px;
}

.home-logo {
  width: 90%;
  max-width: 340px;
  filter: drop-shadow(0 0 18px rgba(5,255,161,.35));
}

.home-btn {
  width: 56px;
  height: 56px;

  display: grid;
  place-items: center;

  border-radius: 50%;
  border: 2px solid #ffe605;
  color: #ffd505;


  background: rgb(46, 37, 11);
  box-shadow: 0 0 18px rgba(222, 255, 5, 0.35);

  cursor: pointer;
  transition: 0.25s;

  text-decoration: none; /* if applied to Link */
}

.home-btn:hover {
  background: #fbff05;
  color: #1a0b2e;
  box-shadow: 0 0 32px #ffee05;
}